@font-face {
  font-family: 'Raleway';
  src: url("fonts/Raleway");
}

html {
  background-color: #E1C564;
}

#gros-titre {
  font-family: Raleway, Arial, sans-serif;
  letter-spacing: 0.08em;
  color: black;
}

.centre {
  text-align: center;
}